<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>アイネクライネ歌詞変更ツール</title>
  <meta name="description" content="アイネクライネの歌詞を変更します">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>アイネクライネ歌詞変更ツール</h2>
  <div id="app">
    <div class="top-content">
    <h6>あなたの名前</h6>
    <input type="text" v-model="i" placeholder="あたし">
    <h6>好きな人の名前</h6>
    <input type="text" v-model="you" placeholder="あなた">
    </div>
    <div class="lyrics">
    <p><br></p>
    <p>{{i}}{{you}}に会えて本当に嬉しいのに</p>
    <p>当たり前のようにそれら全てが悲しいんだ</p>
    <p>今 痛いくらい幸せな思い出が</p>
    <p>いつか来るお別れを育てて歩く</p>
    <p><br></p>
    <p>誰かの居場所を奪い生きるくらいならばもう</p>
    <p>{{i}}は石ころにでもなれたならいいな</p>
    <p>だとしたら勘違いも戸惑いもない</p>
    <p>そうやって{{you}}までも知らないままで</p>
    <p><br></p>
    <p>{{you}}に{{i}}の思いが全部伝わってほしいのに</p>
    <p>誰にも言えない秘密があって嘘をついてしまうのだ</p>
    <p>{{you}}が思えば思うよりいくつも{{i}}は意気地ないのに</p>
    <p>どうして どうして どうして</p>
    <p><br></p>
    <p>消えない悲しみも綻びも{{you}}といれば</p>
    <p>「それでよかったね」と笑えるのがどんなに嬉しいか</p>
    <p>目の前の全てがぼやけては溶けてゆくような</p>
    <p>奇跡であふれて足りないや</p>
    <p>{{i}}の名前を呼んでくれた</p>
    <p><br></p>
    <p>{{you}}が居場所をなくし彷徨うくらいならばもう</p>
    <p>誰かが身代わりになればなんて思うんだ</p>
    <p>今ささやかで確かな見ないふり</p>
    <p>きっと繰り返しながら笑い合うんだ</p>
    <p><br></p>
    <p>何度誓っても何度祈っても惨憺たる夢を見る</p>
    <p>小さな歪みがいつか{{you}}を呑んでなくしてしまうような</p>
    <p>{{you}}が思えば思うより大げさに{{i}}は不甲斐ないのに</p>
    <p>どうして どうして どうして</p>
    <p><br></p>
    <p>お願い いつまでもいつまでも超えられない夜を</p>
    <p>超えようと手をつなぐこの日々が続きますように</p>
    <p>閉じた瞼さえ鮮やかに彩るために</p>
    <p>そのために何ができるかな</p>
    <p>{{you}}の名前を呼んでいいかな</p>
    <p><br></p>
    <p>産まれてきたその瞬間に{{i}}</p>
    <p>「消えてしまいたい」って泣き喚いたんだ</p>
    <p>それからずっと探していたんだ</p>
    <p>いつか出会える{{you}}のことを</p>
    <p><br></p>
    <p>消えない悲しみも綻びも{{you}}といれば</p>
    <p>「それでよかったね」と笑えるのがどんなに嬉しいか</p>
    <p>目の前の全てがぼやけては溶けてゆくような</p>
    <p>奇跡であふれて足りないや</p>
    <p>{{i}}の名前を呼んでくれた</p>
    <p><br></p>
    <p>{{you}}の名前を呼んでいいかな</p>
    <p><br></p>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="vue.js"></script>
</body>
</html>
